<ion-header>
  <ion-toolbar>
    <ion-title>Employee Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h3 style="padding-left: 1em;">E-mail Address: {{ email }}</h3>
    <h3 style="padding-left: 1em;">Phone: {{ phone }}</h3>
    <h3 style="padding-left: 1em;">Website: {{ website }}</h3>
  </ion-text>

  <p>
    <ion-button expand="block" color="primary" routerLink="/home"><ion-icon name="home-outline"></ion-icon>&nbsp; Home</ion-button>    
  </p> 
</ion-content>